.agSlideBlock {
    overflow: hidden;
  }
  .agSlideItem {
    padding: 90px 0;
    transition: transform 0.5s;
  }
  .agSlideImg {
    display: block;
    width: 100%;
    max-width: 317px;
    margin: 0 auto;
    // opacity: 0.5;
    box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    transition: ease 0.5s;
  }


  .agSlideInfoTitle {
    line-height: 10px;
    width: 150px;
    padding-bottom: 5px;
    font-weight: 800;
    font-size: 20px;
    color: #262626;
    will-change: transform;
  }
  .agSlideInfoRoute {
    display: block;
    line-height: 10px;
    font-size: 8px;
    color: #959494;
  }
  .agSlideInfoImg {
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: translateY(25%);
  }
 .hello{
    background: green;
    height:200px;
    width:200px;
}

  .agSlideBlock .swiperContainer {
    padding-top: 13px;
  }
  .agSlideBlock .swiperSlide {
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    will-change: transform;
    box-sizing: border-box;
  }
  .agSlideBlock .swiperSlideActive {
    opacity: 1;
    z-index: 2;
    will-change: transform;
    transform: scale(1.3);
    transition: transform 0.5s;
  }
  .agSlideBlock .swiperSlideActive .agSlideImg {
    opacity: 1;
    will-change: transform;
    transition: ease 0.5s;
  }
  .swiperSlideActive .agSlideInfo {
    opacity: 1;
    transition: ease 0.5s;
  }
  
  @media (max-width: 1220px) {
    .agSlideInfoTitle {
      width: 130px;
    }
  }
  
  @media (max-width: 960px) {
    .agSlideBlock .swiperContainer {
      max-width: 960px;
      width: 100%;
      margin-top: -22px;
      padding-top: 0;
    }
    .agSlideInfoTitle {
      width: 115px;
    }

  }
  
  @media (max-width: 600px) {
    .agSlideInfoTitle {
      width: 95px;
      font-size: 8px;
    }
  
  
    .agSlideInfoImg {
      width: 7px;
      height: 7px;
    }
 

  }
  
  @media (max-width: 560px) {
    .agSlideInfoTitle {
      width: 130px;
    }
  }
  
  @media (max-width: 470px) {
    .agSlideInfoTitle {
      width: 115px;
    }
  }
  
  @media (max-width: 400px) {
    .agSlideImg {
      width: 70%;
    }
    .agSlideInfo {
      width: 70%;
    }
    .agSlideInfoTitle {
      width: 130px;
    }
    .agSlideInfoImg {
      width: 10px;
    }
    .agSlideBlock .swiperSlide {
      padding-left: 0;
      padding-right: 0;
    }
  }
  